@model GeradorDeQuestoes.Models.RespostaModel

<div class="jumbotron">
    <h1 class="display-4">Questões</h1>
    <hr class="my-4">
    <p class="text-justify">
        @Model.Resposta
        Ambitioni dedisse scripsisse iudicaretur. Cras mattis iudicium purus sit amet fermentum. Donec sed odio operae, eu vulputate felis rhoncus. Praeterea iter est quasdam res quas ex communi. At nos hinc posthac, sitientis piros Afros. Petierunt uti sibi concilium totius Galliae in diem certam indicere. Cras mattis iudicium purus sit amet fermentum.
    </p>

    <div class="row" style="text-align:right; align-items: center">
        <div>
            <br>
            <button type="button" class="btn btn-secondary">Sair</button>
        </div>
    </div>
</div>




